body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {
  padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;
}


.section-block p {

    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}


.section-block p {
    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {

    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {
    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  background: #eee;
  overflow: hidden;

}


.section-block p {

    padding: 1em 0 0 1em;
}


.historio > ul > li{
  list-style: none;
}

#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green h2 {
  color: #0D2A4C !important;
  border-bottom: 1px solid #0D2A4C;
}


.white h2 {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue h2 {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray h2 {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content h2 {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}

.sobre-plano-diretor article{
  text-align: justify;
}

.sobre-plano-diretor a:active, .sobre-plano-diretor a:hover, .sobre-plano-diretor a {
  color: #99cc33;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  
}

.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}

h1.titulo.historico {
    font-size: 19px;
    font-weight: 600;
}


a.read-more, a.read-more, a.read-more:hover {
    color: #99cc33;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
}

/** Avaliação Participativa ***/
article ul li{
  list-style: none;
}
article p span{
  font-weight: 600;
}
.bg {
  display: flex;
}
.bg label, .bg a{
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.bg label select {
  background-color:  #0D2A4C;
  color: #fff;
  border: none;
  padding: 5px 0px;
  margin: 0px;
}

.bg label select:focus{
  border-color: #0D2A4C;
  
}
label select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

li h2 {
  text-align: center;
}

.etapa .--title{
  text-align: center;
}
.etapa .--sub{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.center{
  text-align: center;
}

a img.logo{
    height: 40px;
}