body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {
  padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}

.green .title {
  color: #0D2A4C;
  border-bottom: 1px solid #0D2A4C;
}


.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .wrapper .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .wrapper .segments li img {
  opacity: .3;
}


.plano-diretor-content .wrapper .segments li.current img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;
}


.section-block p {

    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}




.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray .title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}


.section-block p {
    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}



.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray .title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {

    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}



.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray .title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  overflow: hidden;

}


.section-block p {
    padding: 1em 0 0 1em;
}



#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}




.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray .title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}


.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}body {
  -webkit-font-smoothing: antialiased;
}
svg {
  width: 25px;

}
#header {
  background: url('../images/background.png') no-repeat; 
  background-size: cover;
  color: white;
}


#fixed-header {
  background: white;
  width: 100%;
  position: fixed;
  top: -20%;
  padding: 1em 0;
  z-index: 9999;
  box-shadow: 0 1px 1px #999;
  transition: all .2s;
}

#fixed-header svg {
  margin-top: .7em;
  
}

#header .header-inner {
  padding: 3em 0; 
}

#header .logo img {
  width: 160px;
}

#header .main-text {
  margin-top: 8%;
}

#header h1 {
  color: white;
  font-weight: 500;
}

#header hr {
  width: 10%;
  margin: 3em auto 1.4em auto;
}

#header .button {
  background: none;
  border: 2px solid #99cc33;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  margin-bottom: 25%;
}


#header .button:hover {
  background: #99cc33 
}


.section {
  margin: 4em auto;
}

.section-block {
  background: #eee;
  overflow: hidden;

}


.section-block p {

    padding: 1em 0 0 1em;
}


.historio > ul > li{
  list-style: none;
}

#footer {
  background: #333;
  padding: 2em 0;
}

#page-header .header-inner {
  padding: 1em 0;
}


.plano-diretor.description h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8em;
  margin-bottom: .6em;
}

.plano-diretor.description {
  background: url('../images/plano-bg.png') no-repeat; 
  background-size: cover;
  color: white;
  padding: 2.8em; 
}

.plano-diretor.description .tabs {
  text-transform: uppercase;
}
  
.plano-diretor.description .tabs a {
  color: #e9e9e9;
  font-size: .8em;
  display: inline-block;
  margin-right: 1.6em;
  text-shadow: 0 1px 1px #444;
  font-weight: 500;

}

.plano-diretor.description .tabs a:hover {
  border-bottom: 1px solid #99cc33; 
}

.plano-diretor.description .tabs a:last-child {
  margin-right: 0;
}

.plano-diretor-content {
  min-height: 700px;
  background: #0D2A4C;
}

.bg-content {
  padding-bottom: 2em;
}

.bg-content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: .4em;
  font-weight: bold;
}

.green {
  background: #99cc33;
}



.white .title {
  color: #99cc33;
  border-bottom: 1px solid #99cc33;
}

.blue .title {
  border-bottom: 1px solid #e9e9e9;
}

.gray {
  background: #d9d9d9;
}

.gray .title {
  color: #0D2A4C; 
  border-bottom: 1px solid #0D2A4C;
}




.plano-diretor-content .title {
  color: white;
}

.plano-diretor-content .segments {
  list-style-type: none;
  margin: 0;
  position: relative;
  width: 100%;
}


.plano-diretor-content .segments li {
  display: inline-block;
  width: 19%;
  text-align: center;

}


.plano-diretor-content .segments li:hover * {
 opacity: 1;
}

.plano-diretor-content .segments li img {
  opacity: .3;
}


.plano-diretor-content .segments li.active img {
  opacity: 1;
}

.sobre-plano-diretor article{
  text-align: justify;
}

.sobre-plano-diretor a:active, .sobre-plano-diretor a:hover, .sobre-plano-diretor a {
  color: #99cc33;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  
}

.segments li a {
  color: white;
  font-weight: bold; 
  text-transform: uppercase;
  font-size: .7em;
}

.plano-diretor-content .segments li .seg-content {
  margin-top: 2em;
}

.seg-content {
  position: absolute;
  margin-top: .4em;
  padding: 2em 3em;
  background: #eeeeee;
}


.plano-diretor-content .segments span {
  display: block; 
  opacity: .8;
  padding: .8em;
}


.acompanhamento-content .columns .bg { margin-bottom: 1.2em; background: #0D2A4C; }
.acompanhamento-content .order {
  display: inline-block; 
  background: white;
  font-size: 1.6em;
  padding: .2em .6em;
  font-weight: bold;
  margin-right: .4em; 

}

.acompanhamento-content a { 
  color: white;
}   

.card{
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 300px;
  margin: 1rem;
  position: relative;
  border: 1px solid #ccc;
  text-align: center;
  width:30%;
  
}

.card-effect {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-effect:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card .button{
    background: #99cc33;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    margin-bottom: 25%;
    color: #152D4A;
}
.card .button:hover {
    background: #99cc33
 }
 
 .section-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #152D4A;
 }
 
 .labrio-log{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/labrio.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
  .prefeitura-logo{
     color: #fff;
    font-weight: normal;
    background: url("../assets/images/prefeitura.png") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: em-calc(16px);
    display: inline-block;
    width: 90px;
 }
 
 .box-feature__title {

    width: 100%;
    height: auto;
    color: #152D4A;
    padding: 10px;
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.medium-4.columns.card.card-effect.box-feature {
    padding: 0;
}

h1.titulo.historico {
    font-size: 19px;
    font-weight: 600;
}


a.read-more, a.read-more, a.read-more:hover {
    color: #99cc33;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
}

/** Avaliação Participativa ***/
article ul li{
  list-style: none;
}
article p span{
  font-weight: 600;
}
.bg {
  display: flex;
}
.bg label, .bg a{
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.bg label select {
  background-color:  #0D2A4C;
  color: #fff;
  border: none;
  padding: 5px 0px;
  margin: 0px;
}

.bg label select:focus{
  border-color: #0D2A4C;
  
}
label select {
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
}

li .title {
  text-align: center;
}
.etapa .--title{
 
}
.etapa .--sub{

  font-weight: 600;
  font-size: 20px;
}
.center{
  text-align: center;
}
a img.logo{
  height: 40px;
}

.bold{
  font-weight: 600;
}
.tab-content__inf p{

	line-height:200%;
	text-align: justify;
}

.tab_item ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
.tab_item ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
.tab_item ul ul,.tab_item ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.tab_item ol ol,.tab_item ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

.tab_item ul li {
  width: 100%;
}

.tab_item ul .list-classic{
  width: 100%;
  text-align: left;
}

.tab_item a.button ,.tab_content a.button {
    background: none;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    color: #0D2A4C;
}
.tab_item  a.button:hover, .tab_content a.button:hover {
  background: #99cc33 
  color: #fff;
}

.subscription{
   margin-top: -26px;
    padding: 0px;
    color: #fff;
    font-size: 14px;

}

/* TimeLine*/

#timeline-embed .tl-slide.tl-full-image-background p, .tl-slide.tl-full-color-background p, .tl-slide.tl-full-image-background h1, .tl-slide.tl-full-color-background h1, .tl-slide.tl-full-image-background .title, .tl-slide.tl-full-color-background .title, .tl-slide.tl-full-image-background h3, .tl-slide.tl-full-color-background h3, .tl-slide.tl-full-image-background h4, .tl-slide.tl-full-color-background h4, .tl-slide.tl-full-image-background h5, .tl-slide.tl-full-color-background h5, .tl-slide.tl-full-image-background h6, .tl-slide.tl-full-color-background h6 {
    color: #626263 !important;
    text-shadow: 1px 1px 1px transparent !important;
    border: none;
}

#timeline-embed h3.tl-headline-date{
  color: rgba(0, 0, 0, 0.54) !important;
}



#timeline-embed .tl-text-content p {
  font-family: sans-serif !important;
}

/** Politica Urbana**/

.nav-politicas ul{
  margin: 20px;
  text-align: center;
}

.nav-politicas ul li {
    list-style: none;
    display: inline;
    margin: 4px 0px;
}

.nav-politicas  li.tab img {
    height: 52px;
}


.flex{
  display: flex;
}

.row-centered{
  align-items: center;
}


#pd-labrio .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
}

/* Mobile*/

@media only screen {
  
  body.is-touch .medium-1.columns.text-right {
    margin-right: 26px;
    margin-top: -44px;
  }
  body.is-touch #fixed-header .medium-1.columns.text-right {
    margin-top: -58px;
  }
  
  body.is-touch a.tab span {
    display: none;
  }
  
  body.is-touch a.tab {
    padding: 2px 0px;
  }
  
  body.is-touch .tl-timeline.tl-skinny.tl-layout-portrait {
    display:  none;
    
  }
} 

/*Box Tabs*/
.wrapper {
    min-height: 77vh;
}

#plataforma-info .button {
    background: none;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    color: #0D2A4C;
}

/*Acompanhamento Page*/
.button-acompanhamento a.button {
    background: none;
    border: 2px solid #99cc33;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    color: #0D2A4C;
}

.margin-bottom-40{
  margin-bottom: 40px;
}
#main-content p{
  text-align:justify;	
}

article p {
    text-align: justify;
}

/* Avaliacao */

#plataforma-info .title.white-type{
  color: #fff;
  border-bottom: 1px solid #fff;
}

#plataforma-info p{
  color: #fff;
}

#plataforma-info .button {
  border: 2px solid #0D2A4C;
}

#envio-docs  {
  background-color: #0D2A4C;
}

#envio-docs .title{
  color: #fff;
}
.file {
position: relative;
display: inline-block;
width: 303px;
height: 34px;
background: url('http://radity.com/static/img/form/file.png') no-repeat 0 0;
}

.file input {
position: absolute;
right: 0;
right: 0;
width: 100%;
height: 34px;
opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity=0);
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
z-index: 30;
}

.file .value {
position: absolute;
top: 8px;
left: 11px;
font: 14px ProximaNovaRegular, Helvetica, Arial, sans-serif;
color: #444;
z-index: 10;
}

.file .bt-value {
position: absolute;
top: 8px;
right: 20px;
font: 14px ProximaNovaBold, Helvetica, Arial, sans-serif !important;
color: white !important;
text-shadow: 0 -1px 0 rgba(1, 2, 2, 0.25) !important;
z-index: 10;
}



.etapa .--title {
    padding: 5px;
}

.paragraph-white{
  color: #fff;
}